<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Aviso de dia de corte</h1>
    <p>Preparate para tu pago de: <%= @recibo.capitalize %></p>
    <p>El día: <%= @dia %></p>
    <p>Gracias por contar con "Simula tu Gasto"!</p>
  </body>
</html>