<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Reporte de <%= @bill.bill_type.capitalize %></h2>
    <%- unless @bill.payday %>
      <div>
        <p><%= "Falta añadir su #{t('activerecord.attributes.bill.payday')}" %></p>
      </div>
    <%- else %>
      <p><strong><%= t('activerecord.attributes.bill.payday') %></strong></p>
      <p><%= "#{@bill.payday} de #{t('date.month_names')[(Time.now + 1.month).month]}" %></p>
    <%- end %>
    <%- if @bill.bill_payments.last %>
      <p><strong>Último resultado</strong></p>
      <%= @bill.bill_payments.last.inputs.gsub(/\n/, '<br/>').html_safe %>
      <p><%= "$#{ @bill.bill_payments.last.payment.round(2) } MXN" %></p>
    <%- end %>
    <p>Gracias por contar con "Simula tu Gasto"!</p>
  </body>
</html>