<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a "Simula tu Gasto"</h1>
    <p>
      Exitosamente has creado una cuenta.
      Tu correo es: <%= @user.email %>.<br>
    </p>
    <p>
      Para iniciar sesión: <%= @url %>.
    </p>
    <p>Gracias por unirte!</p>
  </body>
</html>