p Para poder ingresar la información requerida, es necesario contar con su última factura (recibo) de Agua y Drenaje.

.text-center
  = image_tag 'recibo_agua_1.png', width: '50%'

hr

p Su fecha de corte lo puede localizar en la parte superior de su factura donde se encuentran los datos principales, en la sección de periodo de consumo, como se muestra en la siguiente imagen: 

.text-center
  = image_tag 'recibo_agua_2.png'

.text-center
  p Periodo de consumo: es la fecha de inicio y fin de su factura

hr

p En la imagen se muestra dónde puede encontrar el tipo de tarifa

.text-center
  = image_tag 'recibo_agua_3.png'

hr

p La lectura anterior la puede localizar donde se indica en la imagen

.text-center
  = image_tag 'recibo_agua_4.png'

hr

p ¿Cómo leer tu medidor de Agua y Drenaje?
ol
  li Es necesario localizar el medidor en su domicilio
  li Los números que se deben tomar en cuando son los que están antes del punto, es decir, los de color negro.

.text-center
  = image_tag 'recibo_agua_5.png'
