p Para poder ingresar la información requerida, es necesario contar con su última factura (recibo) de Gas Natural.  

.text-center
  = image_tag 'recibo_gas_1.png', width: '70%'

hr

p Su fecha de corte lo puede localizar en la parte superior de su factura en la sección de datos generales, como se muestra en la siguiente imagen: 

.text-center
  = image_tag 'recibo_gas_2.png', width: '80%'

hr

p La lectura anterior la puede localizar donde se indica en la imagen

.text-center
  = image_tag 'recibo_gas_3.png'

hr

p ¿Cómo leer tu medidor de Gas?
p Existen dos tipos de medidores:
ol
  li
    p Medidor de relojes
    p Ubicándose enfrente del medidor de gas, registre la lectura de cada manecilla.  Si la flecha está entre dos números, registre el menor.
    .text-center
      = image_tag 'recibo_gas_4.png'
  li
    p Medidor numérico
    p Ubicándose enfrente del medidor numérico (lectura directa), registre los números a la izquierda del punto decimal.
    .text-center
      = image_tag 'recibo_gas_5.png'
  li
    p Servicio de prepago
    p Consiste en brindarle a los clientes la posibilidad de elegir la cantidad de energía que desean comprar, el monitoreo del consumo de energía en tiempo real y la identificación del consumo de cada electrodoméstico. 
    p Cuenta con una pantalla digital en la que podrás consultar
    ul
      li Tu saldo
      li Tu recarga de gas
      li El precio exacto de tu gas
      li Tu consumo diario
    p Si tienes este servicio tu podrás revisar la información detalladamente sobre el consumo que se haya realizado.  ¡Con este servicio tu ya tienes el control!
    .text-center
      = image_tag 'recibo_gas_6.png', width: '50%'
