p Para poder ingresar la información requerida, es necesario contar con su última factura (recibo) de CFE.  

.text-center
  = image_tag 'recibo_luz_1.png', width: '50%'

hr

p Su fecha de corte lo puede localizar en la parte superior de su factura donde se encuentran los datos principales, en la sección de periodo facturado, como se muestra en la siguiente imagen: 

.text-center
  = image_tag 'recibo_luz_2.png'

.text-center
  p Periodo facturado: es la fecha de inicio y fin de su factura 

hr

p En la imagen se muestra dónde puede encontrar el tipo de tarifa

.text-center
  = image_tag 'recibo_luz_3.png'

hr

p La lectura anterior la puede localizar donde se indica en la imagen

.text-center
  = image_tag 'recibo_luz_4.png', width: '80%'

hr

p ¿Cómo leer tu medidor de CFE?
p Medidor Digital
ol
  li Es necesario localizar el medidor en su domicilio
  li La información que se requiere para obtener la lectura actual, es la numeración que indica su medidor.
  li A continuación puede ver en la imagen un medidor y dónde localizar la información requerida.

.text-center
  = image_tag 'recibo_luz_5.png'

p Medidor analógico
ol
  li Es necesario localizar el medidor en su domicilio 
  li Ubicándose enfrente del medidor de luz, registre la lectura de cada manecilla.
  li Comienza la lectura del medidor por la carátula derecha y toma en cuenta el sentido de las manecillas del reloj. 
  li Si la manecilla está entre dos números, anota siempre el número menor y si está entre el 0 y 9 siempre se anota el 9.
  li Si la manecilla está sobre un número, consulta la posición de la manecilla en la carátula de la derecha.  Si ésta última ha rebasado el cero, toma el número señalado.  En caso contrario considera el número anterior al señalado.


.text-center
  = image_tag 'recibo_luz_6.png'
