.container
  .row
    .col
      = link_to 'Regresar', bills_path, class: 'btn btn-light'
    .col.text-right
      button.btn.btn-info type="button" data-toggle="modal" data-target="#exampleModal" Como leer mi recibo

.card.mt-3
  .card-body
    h5.card-title = "Calculadora para el recibo de #{@bill.bill_type.capitalize}"
    p.card-text Ingrese sus datos

    .row
      .col-6
        - if @bill.luz?
          = simple_form_for(:bill, url: bill_resolve_url(@bill), defaults: { label_html: { class: 'input-group' }, input_html: { class: 'form-control' } }) do |f|
            = f.input :mes, collection: [:enero, :febrero, :marzo, :abril, :mayo,
                                         :junio, :julio, :agosto, :septiembre,
                                         :octubre, :noviembre, :diciembre] 
            = f.input :tarifa, collection: [:tarifa1, :tarifa1c]
            = f.input :kwh_anterior, as: :integer
            = f.input :kwh_actual, as: :integer

            = f.submit 'Calcular', class: 'btn btn-primary mt-3'

        - elsif @bill.agua?
          = simple_form_for(:bill, url: bill_resolve_url(@bill), defaults: { label_html: { class: 'input-group' }, input_html: { class: 'form-control' } }) do |f|
            = f.input :tarifa, collection: [:tarifa1, :tarifa2]
            = f.input :metros_cubicos_anterior, as: :integer
            = f.input :metros_cubicos_actual, as: :integer

            = f.submit 'Calcular', class: 'btn btn-primary mt-3'

        - elsif @bill.gas?
          = simple_form_for(:bill, url: bill_resolve_url(@bill), defaults: { label_html: { class: 'input-group' }, input_html: { class: 'form-control' } }) do |f|
            = f.input :mes, collection: [:enero, :febrero, :marzo, :abril, :mayo,
                                         :junio, :julio, :agosto, :septiembre,
                                         :octubre, :noviembre, :diciembre]
            = f.input :metros_cubicos_anterior, as: :integer
            = f.input :metros_cubicos_actual, as: :integer

            = f.submit 'Calcular', class: 'btn btn-primary mt-3'

#exampleModal.modal.fade tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
  .modal-dialog.modal-dialog-scrollable.modal-lg class="" role="document"
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title = "Como leer mi recibo de #{@bill.bill_type.capitalize}"
        button.close type="button" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true" &times;

      .modal-body
        - if @bill.luz?
          = render 'bills/tutoriales/luz'
        - elsif @bill.agua?
          = render 'bills/tutoriales/agua'
        - elsif @bill.gas?
          = render 'bills/tutoriales/gas'

      .modal-footer
