.container
  .row
    - @bills.order(:id).each do |bill|
      .col-12.col-lg-4.mb-5
        .card
          .card-body
            h5.card-title = bill.bill_type.capitalize
            - unless bill.payday
              .alert.alert-warning role="alert"
                p.card-text = "Falta añadir su #{t('activerecord.attributes.bill.payday')}"
            - else
              .alert.alert-primary role="alert"
                p.card-text
                  strong = t('activerecord.attributes.bill.payday')
                p.card-text = "#{bill.payday} de #{t('date.month_names')[(Time.now + 1.month).month]}"
            - if bill.bill_payments.last
              .alert.alert-warning role="alert"
                p.card-text
                  strong Último resultado
                p.card-text = bill.bill_payments.last.inputs.gsub(/\n/, '<br/>').html_safe
                p.card-text = "$#{ bill.bill_payments.last.payment.round(2) } MXN"
            p.card-text 
            .btn-group
              = link_to 'Editar', bill_path(bill), class: 'btn btn-primary'
              = link_to 'Calcular', bill_calcular_path(bill), class: 'btn btn-success'
              = link_to 'Enviar al correo', bill_send_mail_path(bill), remote: true, class: 'btn btn-info'
  .row.mt-5
    .col-4
      button.btn.btn-secondary id="permission_request" Activar Notificaciones
- if @bills.find_by(bill_type: 0).payday
  - message_luz = "#{@bills.find_by(bill_type: 0).payday} de #{t('date.month_names')[(Time.now + 1.month).month]}"
- if @bills.find_by(bill_type: 1).payday
  - message_agu = "#{@bills.find_by(bill_type: 1).payday} de #{t('date.month_names')[(Time.now + 1.month).month]}"
- if @bills.find_by(bill_type: 2).payday
  - message_gas = "#{@bills.find_by(bill_type: 2).payday} de #{t('date.month_names')[(Time.now + 1.month).month]}"


javascript:
  var message_luz = "#{message_luz}"
  var message_agu = "#{message_agu}"
  var message_gas = "#{message_gas}"

  var DesktopNotifications = {
    isSupported:function() {
        return (Notification.permission != 'undefined')
    },
    requestPermission:function() {
      Notification.requestPermission().then(function(result) {
        console.log(result);
      });
    },
    doNotify:function(img,notitification_title,notification_body) {
      if (Notification.permission === "granted" && notification_body != '') {
        var notification = new Notification(notitification_title, { body: notification_body, icon: img });
        return true;
      }
      return false;
    }
  }

  $(document).ready(function() {
    $("#permission_request").click(function() {
      DesktopNotifications.requestPermission();
    });

    $('body').ready(function() {

      DesktopNotifications.doNotify("", "Siguiente Fecha de Corte Luz: ", message_luz)
      DesktopNotifications.doNotify("", "Siguiente Fecha de Corte Agua: ", message_agu)
      DesktopNotifications.doNotify("", "Siguiente Fecha de Corte Gas: ", message_gas)

    });
  });
