= link_to 'Regresar', bills_path, class: 'btn btn-light'

.card.mt-3
  .card-body
    h5.card-title = "Resultado aproximado del recibo de #{@bill.bill_type.capitalize}"

    .row
      .col-6
        strong = "$#{ @resultado.round(2) } MXN"