= link_to 'Regresar', bills_path, class: 'btn btn-light'

.card.mt-3
  .card-body
    h5.card-title = @bill.bill_type.capitalize
    p.card-text Le recordaremos por medio de notificaciones la fecha de corte

    .row
      .col-6
        = simple_form_for(@bill) do |f|
          = f.input :payday, as: :integer, wrapper_html: { class: 'form-group' } do 
            .input-group
              = f.input_field :payday, as: :integer, class: 'form-control'

          = f.submit 'Guardar', class: 'btn btn-primary'
