<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un enlace para cambiar su contraseña. Puedes hacerlo a través del siguiente enlace.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitó esto, por favor ignore este correo electrónico..</p>
<p>Su contraseña no cambiará hasta que acceda al enlace anterior y cree uno nuevo.</p>
