- if alert
    .alert.alert-danger.alert-dismissible.fade.show role="alert"
      strong.notice = alert

      button type="button" class="close" data-dismiss="alert" aria-label="Close"
        span aria-hidden="true" &times;

- if notice
    .alert.alert-success.alert-dismissible.fade.show role="alert"
      strong.notice = notice

      button type="button" class="close" data-dismiss="alert" aria-label="Close"
        span aria-hidden="true" &times;
