nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    .navbar-brand Simula Tu Gasto
    button.navbar-toggler type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      span.navbar-toggler-icon

    div#navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          = link_to 'Inicio', root_path, class: 'nav-link'

      - unless user_signed_in?
        ul.navbar-nav
          li.nav-item
            = link_to 'Iniciar Sesión', new_user_session_path, class: 'nav-link'
        ul.navbar-nav
          li.nav-item
            = link_to 'Regístrate', new_user_registration_path, class: 'nav-link'
      - else
        ul.navbar-nav
          li.nav-item
            = link_to 'Cerrar Sesión', destroy_user_session_path, class: 'nav-link', method: :delete