<!DOCTYPE html>
<html>
  <head>
    <title>Simula Tu Gasto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/nav_bar' %>
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <%= render 'layouts/flash_message' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
